services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    # Adapters
    BackVista\DatabaseDumps\Contract\DatabaseConnectionInterface:
        class: BackVista\DatabaseDumps\Adapter\DoctrineDbalAdapter
        arguments:
            $connection: '@doctrine.dbal.default_connection'

    BackVista\DatabaseDumps\Contract\FileSystemInterface:
        class: BackVista\DatabaseDumps\Util\FileSystemHelper

    BackVista\DatabaseDumps\Contract\ConfigLoaderInterface:
        class: BackVista\DatabaseDumps\Util\YamlConfigLoader

    # Platform
    BackVista\DatabaseDumps\Contract\DatabasePlatformInterface:
        factory: ['BackVista\DatabaseDumps\Platform\PlatformFactory', 'create']
        arguments:
            $platformName: '%database_dumps.platform%'

    # Config
    BackVista\DatabaseDumps\Config\EnvironmentConfig:
        factory: ['BackVista\DatabaseDumps\Config\EnvironmentConfig', 'fromEnv']

    BackVista\DatabaseDumps\Config\DumpConfig:
        factory: ['@BackVista\DatabaseDumps\Contract\ConfigLoaderInterface', 'load']
        arguments:
            $path: '%kernel.project_dir%/config/dump_config.yaml'

    # Services
    BackVista\DatabaseDumps\:
        resource: '../../../Service/**/*'

    BackVista\DatabaseDumps\Service\Dumper\DatabaseDumper:
        arguments:
            $projectDir: '%kernel.project_dir%'

    BackVista\DatabaseDumps\Service\Importer\DatabaseImporter:
        arguments:
            $projectDir: '%kernel.project_dir%'

    # Commands
    BackVista\DatabaseDumps\Bridge\Symfony\Command\:
        resource: '../Command/*'
        tags: ['console.command']
